# Credit Card Fraud Detection with Autoencoders!

## Problem Statement

## Imports

In [56]:
import pdb
import sys
import os
import time
import pandas as pd
from sklearn.metrics import f1_score
import pathlib
import copy
import pickle
import warnings
from datetime import datetime
from sklearn.manifold import TSNE

import matplotlib.pyplot as plt
from matplotlib import cm
import seaborn as sns
from matplotlib import style
style.use('seaborn')

import cv2

import numpy as np
import pandas as pd

import torch
from torch.autograd import Variable
import torch.nn.functional as F
from torch.utils.data import Dataset, DataLoader
from torch.utils.data.sampler import Sampler
import torch.nn as nn

In [27]:
%matplotlib inline
pd.options.display.float_format = '{:,.2f}'.format
seed = 5
np.random.seed(seed)
torch.manual_seed(seed)

# Getting the Dataset

In [23]:
PATH = pathlib.Path('../input/'); list(PATH.iterdir())

[PosixPath('../input/creditcard.csv')]

In [22]:
list((PATH/'input').iterdir())

[PosixPath('../input/creditcard.csv')]

In [25]:
df = pd.read_csv(list(PATH.iterdir())[0]); df.head()

   Time        V1        V2        V3  ...         V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...    0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ...   -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ...   -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...    0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...    0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [45]:
df.shape

(284807, 32)

In [28]:
df.describe()

            Time         V1    ...         Amount      Class
count 284,807.00 284,807.00    ...     284,807.00 284,807.00
mean   94,813.86       0.00    ...          88.35       0.00
std    47,488.15       1.96    ...         250.12       0.04
min         0.00     -56.41    ...           0.00       0.00
25%    54,201.50      -0.92    ...           5.60       0.00
50%    84,692.00       0.02    ...          22.00       0.00
75%   139,320.50       1.32    ...          77.16       0.00
max   172,792.00       2.45    ...      25,691.16       1.00

[8 rows x 31 columns]

In [46]:
df.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class', 'Day_hrs'],
      dtype='object')

In [55]:
class_df = df['Class'].value_counts().to_frame().reset_index()
class_df['% of total'] = class_df['Class'] / len(df) * 100
class_df.rename(columns={'index': 'Class', 'Class': 'Count'})

   Class   Count  % of total
0      0  284315       99.83
1      1     492        0.17

In [40]:
hours = df.describe()['Time']['max'] / (60*60)
print(f"This dataset spans {hours:.0f} hours in total")

This dataset spans 48 hours in total

In [43]:
df['Day_hrs'] = df['Time'] / (60*60) % 24

0   0.00
1   0.00
2   0.00
3   0.00
4   0.00
Name: Day_hrs, dtype: float64

## Exploratory Data Analysis

Visualise data with t-SNE and/or PCA

In [69]:
n = 1600
normal_smpl = df[df['Class'] == 0].sample(n=n)
fraud_smpl = df[df['Class'] == 1]

smpl = pd.concat((normal_smpl, fraud_smpl), axis=0).sample(frac=1).reset_index(drop=True)
inp = smpl.drop(columns=['Class']).values
targ = smpl['Class'].values

In [ ]:
def tsne_plot(inp, targ):
    tsne = TSNE(n_components=2, random_state=seed)
    train = tsne.fit_transform(inp)

    plt.figure(figsize=(10,8))
    plt.title("t-SNE visualisation by transaction type:")
    plt.scatter(inp[np.where(targ == 0), 0], inp[np.where(targ == 0), 1], marker='o', color='g', alpha=0.6, label="Normal")
    plt.scatter(inp[np.where(targ == 1), 0], inp[np.where(targ == 1), 1], marker='o', color='r', alpha=0.6, label="Fraud")
    plt.legend(loc='best')
    plt.show()

tsne_plot(inp, targ)

Traditional stats

Autoencoder

Classifier based on Autoencoder Error

Final stats